nav {
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:160px;
    background-color:#ff8282;
    padding-top:20px;
}
nav a {
    padding: 6px 8px 6px 16px;
    text-decoration:none;
    font-size:20px;
    color:royalblue;
    display:block ;
    background-color:rgb(28, 251, 47);
    border-radius: 20px;
    border: 3px solid blue;
}
nav a:hover {
    color:orangered;
    opacity: 5;
}

body {
    background-color: rgb(127, 255, 178);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
    text-align: center;
    color:#fffd82;
    font-size: 50px;
}
.pp {
   margin: 159px;
   color:#00c7fef7;
   font-size: 20px;
   background-color: yellow;
   border: 10px solid red;

}
img {
    margin-left: 170px;
    width: 200px;
    border: 4px solid rgb(28, 251, 47);
}
.ppp {
    color:blueviolet;
    margin:159px;
    font-size: 20px;
    background-color: yellow;
    border :10px double red;
}
.div {
    width: 200px;
    height: 200px;
}
main {
    background-color: yellowgreen;
}
.ppp:hover {
    color:royalblue;
}
img:hover {
    width: 220px;
    height: 220px;
    border: 10px solid rgb(28, 251, 47);
}
p {
    margin: 158px;
    color:blue;
    background-color: yellow;
    font-size: 20px;
    border-right:10px solid red ;
    border-left: 10px solid red ;
}
.footer {
    background-color: rgb(0, 255, 4);
}
footer {
    background-color: rgb(2, 134, 250);
}
